<div>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/style.css">
</div>

<div class="container" style="margin-top: 50px;">
<div class="row">
    <div class="form-login">
        <h1 class="text-center">Login</h1>
        <form name="loginForm">
          <div class="col-md-offset-4 col-md-8">
            <div class="col-md-12">
              <div class="col-md-6">
                <strong>Username:</strong><br>
                <input type="text" class="form-control" ng-model="user.username" name="username" required><br>
                <strong>Password:</strong><br>
                <input type="password" name="password" class="form-control" ng-model="user.password" required><br>
                <br>
                <center>
                  <button ng-click="login(user)" class="btn btn-primary">Login</button>
                  <button type="reset" name="button" class="btn btn-warning">Reset</button>
                </center>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <br><br>
